.chip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.chip {
  background-color: #007bff;
  color: #3d0d0d;
  padding: 6px 8px;
  border-radius: 4px;  align-items: center;
}

.chip-remove {
  margin-left: 6px;
  cursor: pointer;
}

.input {
  margin-top: 8px;
  padding: 6px;
}
